<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.dao.requirementsMapper">

    <resultMap id="BaseResultMap" type="com.yu.domain.Require">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="sortedid" column="sortedID" jdbcType="INTEGER"/>
            <result property="require" column="require" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sortedID,require
    </sql>
</mapper>
